droplet_name: droplet-1 # a unique name for the droplet in the DO dashboard
user: simon # A reference to the user the droplet is spun-up for (slack handle?)
public_key: <blah> # TODO: read the user's public SSH key from here
