# a unique name for the droplet in the DO dashboard
droplet_name: browsertrix-1

# A reference to the user the droplet is spun-up for (slack handle?)
#  (note: tags must match /^[a-z0-9:-_]{1,255}$/)
user: "SimonWiles"

# Size of the volume to be attached to the droplet (GB)
volume_size: 500

# The user's SSH public key
public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPRykcZqP6xxQVsy1pXUFQxnMECNm0fz6ytPlI3Lra2j simon@arch-precision-5550"
